@using System.Web.Optimization
@using TdService.Resources
@using TdService.Resources.Views
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="TD Service">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    @Styles.Render("~/Content/less/bootstrapcss")
    @Styles.Render("~/Content/sitecss")
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/ico/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/bootstrap-apple-57x57.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/img/bootstrap-apple-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/img/bootstrap-apple-114x114.png")">
</head>
<body>
    <div id="topmenu" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index", "Home")">@LayoutViewResources.PageHeader</a>
                <div class="nav-collapse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav nav-pills">
                            @if (User.IsInRole("Shopper"))
                            {
                                <li class="@(string.Compare(this.Request.RawUrl, "/member/dashboard", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Dashboard", "Member")" title="@SiteMapLocalizations.ShopperDashboardDescription">@SiteMapLocalizations.ShopperDashboard</a></li>
                            }
                            @if (User.IsInRole("Operator"))
                            {
                                <li class="@(string.Compare(this.Request.RawUrl, "/operator/dashboard", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Dashboard", "Operator")" title="@SiteMapLocalizations.OperatorDashboardDescription">@SiteMapLocalizations.OperatorDashboard</a></li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="@(string.Compare(this.Request.RawUrl, "/admin/dashboard", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Dashboard", "Admin")" title="@SiteMapLocalizations.AdminDashboardDescription">@SiteMapLocalizations.AdminDashboard</a></li>
                            }
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="#" class="en" onclick="click: changeCulture('en');"></a></li>
                            <li><a href="#" class="ru" onclick="click: changeCulture('ru');"></a></li>
                            @if (User.IsInRole("Shopper"))
                            {
                                <li><a href="@Url.Action("Index", "Profile")"><i class="icon-white icon-user"></i> @LayoutViewResources.ProfileMenuHeader</a></li>
                                <li><a href="@Url.Action("Index", "Address")"><i class="icon-white icon-book"></i> @LayoutViewResources.DeliveryAddressesMenuHeader</a></li>
                            }
                            @*@if (User.IsInRole("Admin"))
                            {
                                <li><a href="@Url.Action("Dashboard", "Admin")"><i class="icon-white icon-cog"></i> @LayoutViewResources.AdministrationMenuHeader</a></li>
                            }*@
                            <li><a href="@Url.Action("SignOut", "Account")"><i class="icon-white icon-off"></i> @LayoutViewResources.SignOutMenuHeader</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav nav-pills">
                            <li class="@(Request.RawUrl == "/" ? "active" : string.Empty)"><a href="/">@SiteMapLocalizations.HomeTitle</a></li>
                            @*<li class="@(string.Compare(this.Request.RawUrl, "/home/shops", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Shops", "Home")" title="@SiteMapLocalizations.StoresCatalogDescription">@SiteMapLocalizations.StoresCatalogTitle</a></li>*@
                            <li class="@(string.Compare(this.Request.RawUrl, "/home/services", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Services", "Home")" title="@SiteMapLocalizations.OurServicesDescription">@SiteMapLocalizations.OurServicesTitle</a></li>
                            <li class="@(string.Compare(this.Request.RawUrl, "/home/rate", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Rate", "Home")" title="@SiteMapLocalizations.RatesDescription">@SiteMapLocalizations.RatesTitle</a></li>
                            <li class="@(string.Compare(this.Request.RawUrl, "/home/terms", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Terms", "Home")" title="@SiteMapLocalizations.TermsDescription">@SiteMapLocalizations.TermsTitle</a></li>
                            <li class="@(string.Compare(this.Request.RawUrl, "/home/contact", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Contact", "Home")" title="@SiteMapLocalizations.ContactsDescription">@SiteMapLocalizations.ContactsTitle</a></li>
                            <li class="@(string.Compare(this.Request.RawUrl, "/home/help", StringComparison.OrdinalIgnoreCase) == 0 ? "active" : string.Empty)"><a href="@Url.Action("Help", "Home")" title="@SiteMapLocalizations.FaqDescription">@SiteMapLocalizations.FaqTitle</a></li>
                            <li></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="#" class="en" onclick="click: changeCulture('en');"></a></li>
                            <li><a href="#" class="ru" onclick="click: changeCulture('ru');"></a></li>
                            <li><a href="@Url.Action("SignIn", "Account")"><i class="icon-white icon-lock"></i> @LayoutViewResources.SignInMenuHeader</a></li>
                        </ul>
                    }
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
        <footer class="row">
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <h3>@LayoutViewResources.FooterLinksHeader</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")" title="@SiteMapLocalizations.HomeDescription">@SiteMapLocalizations.HomeTitle</a></li>
                            <li><a href="@Url.Action("Shops", "Home")" title="@SiteMapLocalizations.StoresCatalogDescription">@SiteMapLocalizations.StoresCatalogTitle</a></li>
                            <li><a href="@Url.Action("Services", "Home")" title="@SiteMapLocalizations.OurServicesDescription">@SiteMapLocalizations.OurServicesTitle</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <br>
                        <br>
                        <ul>
                            <li><a href="@Url.Action("Terms", "Home")" title="@SiteMapLocalizations.TermsDescription">@SiteMapLocalizations.TermsTitle</a></li>
                            <li><a href="@Url.Action("Contact", "Home")" title="@SiteMapLocalizations.ContactsDescription">@SiteMapLocalizations.ContactsTitle</a></li>
                            <li><a href="@Url.Action("Help", "Home")" title="@SiteMapLocalizations.FaqDescription">@SiteMapLocalizations.FaqTitle</a></li>
                        </ul>
                    </div>
                    <div class="span4 social-networks">
                        <h3>@LayoutViewResources.FooterStayInTouchHeader</h3>
                        <p>@LayoutViewResources.FooterStayInTouchDescription</p>
                        <a href="#" title="@LayoutViewResources.FooterFollowFacebookTitle" class="icon-facebook"></a>
                        <a href="#" title="@LayoutViewResources.FooterFollowTwitterTitle" class="icon-twitter"></a>
                        <a href="#" title="@LayoutViewResources.FooterFollowGoogleTitle" class="icon-google-plus"></a>
                    </div>
                    <div class="span4">
                        <h3>@LayoutViewResources.FooterNewsHeader</h3>
                        <p>@LayoutViewResources.FooterNewsDescription</p>
                        <form>
                            <input type="text" placeholder="@LayoutViewResources.FooterSubscribePlaceholder">
                            <input type="submit" class="btn" value="@LayoutViewResources.FooterSubscribeButton">
                        </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->

            <div id="footer-extra">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            &copy; @LayoutViewResources.Footer
                        </div>
                        <div class="span4">
                            <i class="icon-phone"></i>&nbsp;<a href="callto:00123 320 000 123 456">00123 320 000 123 456</a>
                        </div>
                        <div class="span4">
                            <i class="icon-envelope"></i>&nbsp;<a href="mailto:info@shopanyware.com">info@shopanyware.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/layout")
    <script type="text/javascript">
        $(document).ready(function () {
            var culture = readCookie("culture");
            if (culture != null) {
                if (culture == "ru") {
                    $(".ru").addClass("choosen_culture");
                } else {
                    $(".en").addClass("choosen_culture");
                }
            }
        });
    </script>
    @RenderSection("Scripts", false)
</body>
</html>