@using TdService.Resources.Views
<div data-bind="attr: { id: domOrderId }" class="package action">
    <div class="box">
        <table class="title">
            <tr>
                <td>
                    <span class="label">@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                    <span data-bind="click: toggleCollapse"><i data-bind="css: { 'icon-chevron-right': isCollapsed, 'icon-chevron-down': isExpanded }"></i></span>
                    <span data-bind="text: retailerUrl" class="name"></span>
                </td>
                <td class="right">
                    <span data-bind="css: { 'status-new': status() == 'New', 'status-received': status() == 'Received', 'status-returned': status() == 'Returned', 'status-returnrequested': status() == 'ReturnRequested', 'status-disposed': status() == 'Disposed' }" class="label">@DashboardViewResources.StatusHeader: <span data-bind="text: statusTranslated"></span></span>
                    <span class="label">
                        <span data-bind="ifnot: status() == 'Received' | status() == 'Returned'">@DashboardViewResources.OrderCreatedDateHeader</span>
                        <span data-bind="if: status() == 'Received'">@DashboardViewResources.OrderReceivedDateHeader</span>
                        <span data-bind="if: status() == 'Returned'">@DashboardViewResources.OrderReturnedDateHeader</span>: 
                        <span data-bind="text: orderDate"></span>
                    </span>&nbsp;
                    <button class="btn btn-mini btn-success" title="@DashboardViewResources.AddItemButton" data-bind="visible: canItemsBeAdded(), click:showAddItemPopup"><i class="icon-white icon-plus-sign"></i></button>
                    <button class="btn btn-mini btn-primary" title="@DashboardViewResources.InStockButton" data-bind="visible: canBeReceived()  && hasItems() && viewSettings.operatorMode, click:orderInStock"><i class="icon-white icon-inbox"></i></button>
                    @*<span class="dropdown" data-bind="visible: status() == 'Received' && hasItems()">
                        <button class="btn btn-mini dropdown-toggle" title="@DashboardViewResources.MoveAllItemsTitle" data-toggle="dropdown" ><i class="icon icon-arrow-right"></i><span class="caret"></span></button>
                        <ul class="dropdown-menu" data-bind="foreach: $parent.packages()">
                            <li><a href="#"><span class="label">ID: <span data-bind="text: id()"></span></span><span data-bind="text: name()"></span></a></li>
                        </ul>
                    </span>*@
                    <select style="width:100px;" data-bind="options:  $root.packagesAvailableForMove, optionsText: 'name', visible: canBeMoved,  value: selectedPackage, optionsCaption: '@DashboardViewResources.SelectDefaultValue', event: {change: function(data, event){ $root.moveEntireOrderToPackage($data)} }"></select>
                    @*<button class="btn btn-mini" title="@DashboardViewResources.ReturnOrderButton" data-toggle="modal" data-bind="visible: canBeRequestedForReturn"><i class="icon icon-retweet"></i></button>*@
                    <button class="btn btn-mini btn-danger" title="@DashboardViewResources.RemoveOrderButton" data-bind="click: $parent.removeOrder, visible: canBeRemoved"><i class="icon-white icon-remove"></i></button>
                </td>
            </tr>
        </table>
        <div data-bind="collapsed: isCollapsed" class="white collapse">
            <table class="header">
                <tbody>
                    <tr>
                        <td style="text-align: right">@DashboardViewResources.OrderNumberHeader</td>
                        <td>
                            <input type="text" data-bind="value: orderNumber" placeholder="@DashboardViewResources.OrderNumberPlaceholder">
                        </td>
                    </tr>
                    <tr>
                        <td>@DashboardViewResources.TrackingNumberHeader</td>
                        <td>
                            <input type="text" data-bind="value: trackingNumber" placeholder="@DashboardViewResources.TrackingNumberPlaceholder">@*<a data-bind="text: trackingNumber" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US"></a>*@</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info" data-bind="visible: items().length == 0">@DashboardViewResources.NoItemsMessage</div>
            <table data-bind="visible: hasItems" class="info" style="display: none">
                <thead>
                    <tr>
                        <th class="left">@DashboardViewResources.ItemNameHeader</th>
                        <th>@DashboardViewResources.QuantityHeader</th>
                        <th>@DashboardViewResources.WeightHeader</th>
                        <th>@DashboardViewResources.PriceHeader</th>
                        <th>@DashboardViewResources.ActionsHeader</th>
                    </tr>
                </thead>
                <tbody id="order_items" data-bind="foreach: {data: items}">
                    <tr data-bind="attr: {id: id}">
                        <td class="left">
                            <div class="modal" data-bind="attr:{id: imagesPopupDivId}" style="display: none;">
                                <div class="modal-body">
                                    <ul class="bxslider" data-bind="foreach: {data: images}">
                                        <li><img alt="Images" data-bind="attr: {src: Url, title:FileName}" /></li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-bind="click:closeImagesPopup">@DashboardViewResources.CancelButton</a>
                                </div>
                            </div>
                            <i class="icon-camera" style="cursor: pointer" data-bind="click:openImagesPopup"></i>&nbsp;<span class="editable" data-content="<table class='details'><tr><td><img src='@Url.Content("~/content/img/kindle.jpg")' /></td><td><p>Name: Kindle</p><p>Weight: 1.3lbs</p><p>Color: Black</p><p>Quantity: 1</p><p>Cost: $100</p></td>" data-bind="text: name"></span>
                        </td>
                        <td><span class="editable" data-bind="text: quantity"></span></td>
                        <td><span class="editable" data-bind="text: weight"></span>lbs</td>
                        <td>$<span class="editable" title="@DashboardViewResources.PriceTitle" data-bind="text: price"></span></td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-mini" title="@DashboardViewResources.EditItemTitle" data-bind="visible:$parent.canItemsBeModified, click:$parent.showEditItemPopup"><i class="icon icon-edit"></i></button>
                                <button class="btn btn-mini" title="@DashboardViewResources.DeleteItemTitle" data-bind="visible:$parent.canItemsBeModified, click:$parent.removeItem"><i class="icon icon-remove"></i></button>
                                <select style="width:100px;" data-bind="visible:$parent.canBeMoved, options:  $root.packagesAvailableForMove, optionsText: 'name', value: selectedPackage, optionsCaption: 'Choose...', event: {change: function(data, event){ $root.moveSingleItemToPackage($data); } }"></select>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                        <td><span data-bind="text: totalItemsQuantity"></span></td>
                        <td><span data-bind="text: totalItemsWeight"></span>&nbsp;lbs</td>
                        <td>$ <span data-bind="text: totalItemsAmount"></span></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        @{ this.Html.RenderPartial("itemDetailsPopup"); }

    </div>
</div>
