@using TdService.Resources.Views
<div data-bind="attr: { id: domPackageId }" class="package action">
    <div class="box_focus"></div>
    <div class="box">@*<div class="box hover">*@
        <table class="title">
            <tr>
                <td>
                    <span class="label">@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                    <span data-bind="click: toggleCollapse"><i data-bind="css: { 'icon-chevron-right': isCollapsed, 'icon-chevron-down': isExpanded }"></i></span>
                    @*@DashboardViewResources.PackageNameHeader: *@ <span data-bind="text: name" class="name"></span>
                </td>
                <td class="right">
                    <span data-bind="css: { 'status-new': status() == 'New', 'status-pendingpayment': status() == 'PendingPayment', 'status-dispatched': status() == 'Dispatched', 'status-readytodispatch': status() == 'ReadyToDispatch', 'status-delivered': status() == 'Delivered' }" class="label">@DashboardViewResources.StatusHeader: <span data-bind="text: statusTranslated"></span></span>
                    <span class="label">
                        <span data-bind="ifnot: status() == 'Dispatched' | status() == 'Delivered'">@DashboardViewResources.PackageCreatedDateHeader</span>
                        <span data-bind="if: status() == 'Dispatched'">@DashboardViewResources.PackageDispatchedDateHeader</span>
                        <span data-bind="if: status() == 'Delivered'">@DashboardViewResources.PackageDeliveredDateHeader</span>: 
                        <span data-bind="text: packageDate"></span>
                    </span>&nbsp;
                    <button class="btn btn-mini btn-primary right" title="@DashboardViewResources.SendPackageButton" data-bind="click: sendPackage, visible: items().length > 0 && canBeSent"><i class="icon-white icon-plane"></i></button>
                    <button class="btn btn-mini btn-danger" title="@DashboardViewResources.RemoveOrderButton" data-bind="click: $parent.removePackage, visible: canBeRemoved"><i class="icon-white icon-remove"></i></button>
                </td>
            </tr>
        </table>
        <div data-bind="collapsed: isCollapsed" class="white collapse">
            <div class="border">
                <table>
                    <thead>
                        <tr class="type">
                            <th colspan="4">
                                <h4>@DashboardViewResources.DeliveryHeader / Tracking #	is <a href="#" class="store_address" style="float: none">53456747645674</a></h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="text-align: left">
                                <select class="span3" data-bind='options: $root.deliveryAddresses, 
                                    optionsText: function(address) { return address.AddressName; }, 
                                    value: selectedAddress, optionsCaption: "Select a delivery address..."'>
                                </select>
                                <select class="span3" data-bind='options: $root.deliveryMethods, 
                                    value: selectedMethod, optionsCaption: "Select a delivery method..."'>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="right">@DashboardViewResources.TotalCostHeader:</td>
                            <td class="span2">0</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="alert alert-info" data-bind="visible: items().length == 0">@DashboardViewResources.NoPackageItemsMessage</div>
                <table data-bind="visible: items().length != 0">
                    <thead>
                        <tr class="type">
                            <th colspan="4">
                                <h4>@DashboardViewResources.CustomsDeclaration</h4>
                            </th>
                        </tr>
                        <tr>
                            <th class="left">@DashboardViewResources.ItemNameHeader</th>
                            <th>@DashboardViewResources.QuantityHeader</th>
                            <th>@DashboardViewResources.WeightHeader</th>
                            <th class="span2">@DashboardViewResources.PriceHeader</th>
                            <th>@DashboardViewResources.ActionsHeader</th>
                        </tr>
                    </thead>
                    <tbody id="package_items" data-bind="foreach: {data: items}">
                        <tr>
                            <td class="left"><i class="icon-camera"></i>&nbsp;<span data-bind="text: name"></span></td>
                            <td><span class="editable" data-bind="text: quantity"></span></td>
                            <td><span class="editable" data-bind="text: weight"></span>lbs</td>
                            <td>$ <span class="editable" data-bind="text: price"></span></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-mini" title="@DashboardViewResources.ReturnItemBackTitle"><i class="icon-arrow-left"></i></button>
                                    <button class="btn btn-mini" title="@DashboardViewResources.EditItemTitle"><i class="icon icon-edit"></i></button>
                                    <ul class="dropdown-menu" data-bind="foreach: $root.packages()">
                                        <li><i class="icon-gift"></i><span data-bind="text: name()"></span>(id:<span data-bind="text: id"></span>)</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                            <td><span data-bind="text: totalItemsQuantity"></span></td>
                            <td><span data-bind="text: totalItemsWeight"></span>lbs</td>
                            <td>$ <span data-bind="text: totalItemsAmount"></span></td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
