@using TdService.Resources.Views
@model TdService.UI.Web.ViewModels.Account.DeliveryAddressViewModel

<fieldset>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_AddressName:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: Id" type="hidden" />
            <input class="input-xlarge"  data-bind="value: AddressName" type="text" placeholder="@AddressViewResources.AddressName_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_FirstName:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: FirstName" type="text" placeholder="@AddressViewResources.FirstName_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_LastName:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: LastName" type="text" placeholder="@AddressViewResources.LastName_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_AddressLine1:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: AddressLine1" type="text" placeholder="@AddressViewResources.Address1_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_AddressLine2:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: AddressLine2" type="text" placeholder="@AddressViewResources.Address2_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_City:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: City" type="text" placeholder="@AddressViewResources.City_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_Region:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: Region" type="text" placeholder="@AddressViewResources.Region_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_Country:</label>
        <div class="controls">
            <select class="input-xlarge" data-bind="options: $root.countries, optionsText: 'TranslatedName', value: SelectedCountry"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_ZipCode:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: ZipCode" type="text" placeholder="@AddressViewResources.ZipCode_Placeholder" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@AddressViewResources.AddressTable_Phone:</label>
        <div class="controls">
            <input class="input-xlarge" data-bind="value: Phone" type="text" placeholder="@AddressViewResources.Phone_Placeholder" />
        </div>
    </div>
</fieldset>
