@using TdService.Resources.Views
@model TdService.Services.ViewModels.Account.DeliveryAddressesView
@{
    ViewBag.Title = AddressViewResources.PageTitle;
}

<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.DeliveryAddressBook))" />
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>@AddressViewResources.AddressTable_AddressName</th>
                    <th>@AddressViewResources.AddressTable_FullName</th>
                    <th>@AddressViewResources.AddressTable_Country</th>
                    <th>@AddressViewResources.AddressTable_Region</th>
                    <th>@AddressViewResources.AddressTable_City</th>
                    <th>@AddressViewResources.AddressTable_AddressLine1</th>
                    <th>@AddressViewResources.AddressTable_AddressLine2</th>
                    <th>@AddressViewResources.AddressTable_ZipCode</th>
                    <th>@AddressViewResources.AddressTable_Phone</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: addressBook">
                <tr>
                    <td><span data-bind="text: AddressName"></span><input type="hidden" data-bind="text: Id" /></td>
                    <td><span data-bind="text: FirstName"></span>, <span data-bind="text: LastName"></span></td>
                    <td><span data-bind="text: Country"></span></td>
                    <td><span data-bind="text: Region"></span></td>
                    <td><span data-bind="text: City"></span></td>
                    <td><span data-bind="text: AddressLine1"></span></td>
                    <td><span data-bind="text: AddressLine2"></span></td>
                    <td><span data-bind="text: ZipCode"></span></td>
                    <td><span data-bind="text: Phone"></span></td>
                </tr>
            </tbody>
        </table><!--
                    <div id="addDeliveryAddress" class="modal hide fade">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">×</a>
                            <h3>Add your new delivery address</h3>
                        </div>
                        <div class="modal-body">
                            @{Html.RenderPartial("addDeliveryAddressForm");}
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Close</a>
                            <a href="#" class="btn btn-primary" data-dismiss="modal">Add Delivery Address</a>
                        </div>
                    </div>-->
        <br />
        <form class="form-horizontal" data-bind="submit: addNewAddress">
            <fieldset>
                <div class="control-group">
                    <h2>@AddressViewResources.AddAddressTitle</h2>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_AddressName:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AddressName" data-bind="value: addressName" type="text" placeholder="Please enter address name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_FirstName:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="FirstName" data-bind="value: firstName" type="text" placeholder="Please enter your first name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_LastName:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="LastName" data-bind="value: lastName" type="text" placeholder="Please enter your last name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_Country:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="Country" data-bind="value: country" type="text" placeholder="Please enter your country" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_Region:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="Region" data-bind="value: region" type="text" placeholder="Please enter your region" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_City:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="City" data-bind="value: city" type="text" placeholder="Please enter your city" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_AddressLine1:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AddressLine1" data-bind="value: address1" type="text" placeholder="Please enter your street" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_AddressLine2:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AddressLine2" data-bind="value: address2" type="text" placeholder="Please enter your home address and suite number" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_ZipCode:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="ZipCode" data-bind="value: zip" type="text" placeholder="Please enter your zip code" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@AddressViewResources.AddressTable_Phone:</label>
                    <div class="controls">
                        <input class="input-xlarge" name="Phone" data-bind="value: phone" type="text" placeholder="Please enter your phone number" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@AddressViewResources.AddAddressButton</button>
                </div>
            </fieldset>
        </form>
        @*@{Html.RenderPartial("addressTable");}*@
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/DeliveryAddressViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings(new DeliveryAddressViewModel($("#model").val()));
        });
    </script>
}