@using System.Web.Optimization
@using TdService.Resources
@using TdService.Resources.Views
@model List<TdService.UI.Web.ViewModels.Account.DeliveryAddressViewModel>
@{
    ViewBag.Title = AddressViewResources.PageTitle;
}

<ul class="breadcrumb">
    <li><a href="#">@BreadcrumbResources.Dashboard</a> <span class="divider">/</span></li>
    <li class="active">@BreadcrumbResources.DeliveryAddresses</li>
</ul>
<a class="btn btn-success" data-toggle="modal" href="#deliveryAddressModel" >Add Delivery Address</a>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
<div class="row-fluid">
    <div class="span12">
        <table id="dashboardModel" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>@AddressViewResources.AddressTable_AddressName</th>
                    <th>@AddressViewResources.AddressTable_FullName</th>
                    <th>@AddressViewResources.AddressTable_Country</th>
                    <th>@AddressViewResources.AddressTable_Region</th>
                    <th>@AddressViewResources.AddressTable_City</th>
                    <th>@AddressViewResources.AddressTable_AddressLine1</th>
                    <th>@AddressViewResources.AddressTable_AddressLine2</th>
                    <th>@AddressViewResources.AddressTable_ZipCode</th>
                    <th>@AddressViewResources.AddressTable_Phone</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: addressBook">
                <tr>
                    <td>
                        <a href="#" data-bind="click: $root.editDeliveryAddress" class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i></a>
                        <a href="#" data-bind="click: $root.removeDeliveryAddress" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></a>
                    </td>
                    <td><span data-bind="text: AddressName"></span><input type="hidden" data-bind="value: Id" /></td>
                    <td><span data-bind="text: FirstName"></span>, <span data-bind="text: LastName"></span></td>
                    <td><span data-bind="text: Country"></span></td>
                    <td><span data-bind="text: Region"></span></td>
                    <td><span data-bind="text: City"></span></td>
                    <td><span data-bind="text: AddressLine1"></span></td>
                    <td><span data-bind="text: AddressLine2"></span></td>
                    <td><span data-bind="text: ZipCode"></span></td>
                    <td><span data-bind="text: Phone"></span></td>
                </tr>
            </tbody>
        </table>
        <div id="deliveryAddressModel" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>@AddressViewResources.AddAddressTitle</h3>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("deliveryAddressDetails");}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-success" data-bind="click: add" data-dismiss="modal">@AddressViewResources.AddAddressButton</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/addresses")
    <script type="text/javascript">
        $(document).ready(function () {
            window.deliveryAddressViewModel = new AddressViewModel();
            ko.applyBindings(deliveryAddressViewModel, document.getElementById('dashboardModel'));
            var emptyAddress = new DeliveryAddress({ id: 0 });
            ko.applyBindings(emptyAddress, document.getElementById('deliveryAddressModel'));
        });
    </script>
}