@using TdService.Resources
@using TdService.Resources.Views
@model List<TdService.UI.Web.ViewModels.Account.DeliveryAddressViewModel>
@{
    ViewBag.Title = AddressViewResources.PageTitle;
}

<ul class="breadcrumb">
    <li>
        <a href="#">@BreadcrumbResources.Dashboard</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="#">@BreadcrumbResources.Profile</a> <span class="divider">/</span>
    </li>
    <li class="active">@BreadcrumbResources.DeliveryAddresses</li>
</ul>
<a class="btn btn-success" data-toggle="modal" href="#deliveryAddressModel" >Add Delivery Address</a>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
<div class="row-fluid">
    <div class="span12">
        <table id="dashboardModel" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>@AddressViewResources.AddressTable_AddressName</th>
                    <th>@AddressViewResources.AddressTable_FullName</th>
                    <th>@AddressViewResources.AddressTable_Country</th>
                    <th>@AddressViewResources.AddressTable_Region</th>
                    <th>@AddressViewResources.AddressTable_City</th>
                    <th>@AddressViewResources.AddressTable_AddressLine1</th>
                    <th>@AddressViewResources.AddressTable_AddressLine2</th>
                    <th>@AddressViewResources.AddressTable_ZipCode</th>
                    <th>@AddressViewResources.AddressTable_Phone</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: addressBook">
                <tr>
                    <td>
                        <a href="#" data-bind="click: $root.editDeliveryAddress" class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i></a>
                        <a href="#" data-bind="click: $root.removeDeliveryAddress" class="btn btn-danger btn-mini"><i class="icon-trash icon-white"></i></a>
                    </td>
                    <td><span data-bind="text: addressName"></span><input type="hidden" data-bind="value: id" /></td>
                    <td><span data-bind="text: firstName"></span>, <span data-bind="text: lastName"></span></td>
                    <td><span data-bind="text: country"></span></td>
                    <td><span data-bind="text: region"></span></td>
                    <td><span data-bind="text: city"></span></td>
                    <td><span data-bind="text: addressLine1"></span></td>
                    <td><span data-bind="text: addressLine2"></span></td>
                    <td><span data-bind="text: zipCode"></span></td>
                    <td><span data-bind="text: phone"></span></td>
                </tr>
            </tbody>
        </table>
        <div id="deliveryAddressModel" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>@AddressViewResources.AddAddressTitle</h3>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("deliveryAddressDetails");}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-success" data-bind="click: addDeliveryAddress" data-dismiss="modal">@AddressViewResources.AddAddressButton</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/DeliveryAddressViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.deliveryAddressViewModel = new DeliveryAddressViewModel($("#model").val());
            ko.applyBindings(deliveryAddressViewModel, document.getElementById('dashboardModel'));
            ko.applyBindings(new DeliveryAddress(), document.getElementById('deliveryAddressModel'));
        });
    </script>
}