@using System.Web.Optimization
@using TdService.Resources
@using TdService.Resources.Views
@model TdService.UI.Web.ViewModels.Account.DeliveryAddressViewModel
@{
    ViewBag.Title = AddressViewResources.PageTitle;
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Dashboard", "Member")">@BreadcrumbResources.Dashboard</a> <span class="divider">/</span></li>
    <li class="active">@BreadcrumbResources.DeliveryAddresses</li>
</ul>
<a class="btn btn-success" data-toggle="modal" href="#addDeliveryAddressModel" >@AddressViewResources.AddAddressButton</a>
<div class="row-fluid">
    <div id="dashboardModel" class="span12">
        <div data-bind="visible: addressBook().length == 0">
            <div class="alert package" data-bind="css: { 'alert-info': addressesLoaded() }">
                <span data-bind="visible: !addressesLoaded()">@AddressViewResources.LoadingAddressesMessage</span>
                <span data-bind="visible: addressesLoaded()">@AddressViewResources.NoAddressesMessage</span>
            </div>
        </div>
        <table class="table table-striped table-condensed" data-bind="visible: addressBook().length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th>@AddressViewResources.AddressTable_AddressName</th>
                    <th>@AddressViewResources.AddressTable_FullName</th>
                    <th>@AddressViewResources.AddressTable_AddressLine1</th>
                    <th>@AddressViewResources.AddressTable_AddressLine2</th>
                    <th>@AddressViewResources.AddressTable_City</th>
                    <th>@AddressViewResources.AddressTable_Region</th>
                    <th>@AddressViewResources.AddressTable_Country</th>                    
                    <th>@AddressViewResources.AddressTable_ZipCode</th>
                    <th>@AddressViewResources.AddressTable_Phone</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: addressBook">
                <tr>
                    <td>
                        <a data-bind="attr: { href: addressIdWithNumberSign }" data-toggle="modal" class="btn btn-warning btn-mini"><i class="icon-edit icon-white"></i></a>
                        <div data-bind="attr: { id: addressId }" class="modal hide fade">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">×</a>
                                <h3>@AddressViewResources.UpdateAddressTitle</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" data-bind="attr: { id: addressFormId }">
                                      @Html.AntiForgeryToken()
                                      @Html.ValidationSummary()
                                      @{ Html.RenderPartial("deliveryAddressDetails", Model); }
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">@AddressViewResources.CloseButton</a>
                                <a href="#" class="btn btn-success" data-bind="click: $parent.update">@AddressViewResources.UpdateAddressButton</a>
                            </div>
                        </div>
                        <a href="#" data-bind="click: $root.remove" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i></a>
                    </td>
                    <td><span data-bind="text: AddressName"></span><input type="hidden" data-bind="value: Id" /></td>
                    <td><span data-bind="text: FirstName"></span>, <span data-bind="text: LastName"></span></td>
                    <td><span data-bind="text: AddressLine1"></span></td>
                    <td><span data-bind="text: AddressLine2"></span></td>
                    <td><span data-bind="text: City"></span></td>
                    <td><span data-bind="text: Region"></span></td>
                    <td><span data-bind="text: CountryNameTranslated"></span></td>
                    <td><span data-bind="text: ZipCode"></span></td>
                    <td><span data-bind="text: Phone"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="addDeliveryAddressModel" data-bind="with: addAddressModel" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>@AddressViewResources.AddAddressTitle</h3>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Add", "Address", FormMethod.Post, new Dictionary<string, object> { {"id", "addAddressForm"}, { "class", "form-horizontal" } }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(CommonResources.DeliveryAddressAddOrUpdateErrorMessage)
                Html.RenderPartial("deliveryAddressDetails", Model);
            }
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">@AddressViewResources.CloseButton</a>
            <a href="#" class="btn btn-success" data-bind="click: $parent.add">@AddressViewResources.AddAddressButton</a>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/addresses")
    <script type="text/javascript">
        $(document).ready(function () {
            window.deliveryAddressViewModel = new AddressViewModel();
            ko.applyBindings(deliveryAddressViewModel);
        });
    </script>
}