@using TdService.Resources.Views
@model TdService.Services.ViewModels.Account.ProfileView
@{
    ViewBag.Title = ProfileViewResources.PageTitle;
}
@using (Html.BeginForm("Save", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
    <fieldset>
        <div class="control-group">
            <label class="control-label"><h2>@ProfileViewResources.PageHeader</h2></label>
        </div>
        <div class="control-group">
            <label class="control-label">@ProfileViewResources.EmailHeader</label>
            <div class="controls">
                <input id="Email" name="Email" class="input-xlarge" type="text" data-bind="value: email" readonly="readonly">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ProfileViewResources.PasswordHeader</label>
            <div class="controls">
                <input id="CurrentPassword" name="CurrentPassword" class="input-xlarge" data-bind="value: currentPassword" type="password" readonly="readonly">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ProfileViewResources.FirstNameHeader</label>
            <div class="controls">
                <input id="FirstName" name="FirstName" class="input-xlarge" type="text" data-bind="value: firstName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ProfileViewResources.LastNameHeader</label>
            <div class="controls">
                <input id="LastName" name="LastName" class="input-xlarge" type="text" data-bind="value: lastName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@ProfileViewResources.NotificationHeader</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="NotifyOnOrderStatusChange" name="NotifyOnOrderStatusChange" value="option1">
                    @ProfileViewResources.Notification_OnOrderStatusChange
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="NotifyOnPackageStatusChange" value="option1">
                    @ProfileViewResources.Notification_OnPackageStatusChange
                </label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" data-bind="click: updateFullName" class="btn btn-primary">@ProfileViewResources.SaveChangesButton</button>
        </div>
    </fieldset>
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/ProfileViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            ko.applyBindings(new ProfileViewModel($("#model").val()));
        });
    </script>
}