@using TdService.Resources.Views
@{
    ViewBag.Title = DashboardViewResources.DashboardPageTitle;
}
<div class="row-fluid">
    <div class="span6">
        <div id="addOrderForm" class="package">
            <ul class="nav nav-tabs">
                <li><a href="#">@DashboardViewResources.OrderOption1</a></li>
                <li class="active"><a href="#">@DashboardViewResources.OrderOption2</a></li>
            </ul>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on btn-large btn-success"><i class="icon-white icon-plus"></i></span>
                        <input class="add-order" style="width:65%" data-bind="value: newOrderField, autosuggest: retailers" placeholder="@DashboardViewResources.NewOrderPlaceholder"/><button class="btn btn-large btn-success" type="button" data-bind="click: createOrder">@DashboardViewResources.AddOrderButton</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info package" data-bind="visible: shouldShowOrdersEmptyMessage">@DashboardViewResources.NoOrdersMessage</div>
        <div id="orders" data-bind="foreach: orders">
            <div data-bind="attr: { id: id }" class="package action">
                <div class="box">
                    <div>
                        <span data-bind="attr: { 'data-target': orderItemsIdWithNumberSign }" data-toggle="collapse"><i class="icon-white icon-chevron-right"></i></span>
                        @DashboardViewResources.OrderNumberHeader <span data-bind="text: orderNumber" type="text" placeholder="size"></span> from <span data-bind="text: retailerUrl"></span>
                        @DashboardViewResources.TrackingNumberHeader <span class="tn" title="A Title" data-content="And here's some amazing content. It's very engaging. right?" data-bind="text: trackingNumber" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US"></span>
                    </div>
                    <div data-bind="attr: { id: orderItemsId }" class="white collapse">
                        @DashboardViewResources.NoItemsMessage
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="left">@DashboardViewResources.ItemNameHeader</th>
                                    <th>@DashboardViewResources.PriceHeader</th>
                                    <th>@DashboardViewResources.ActionHeader</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="sortable" id="order_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="draggable"><div></div></td>
                                    <td class="left"><i class="icon-camera"></i> <span class="tn" title="Kindle" data-content="<table class='details'><tr><td><img src='@Url.Content("~/content/img/kindle.jpg")' /></td><td><p>Name: Kindle</p><p>Weight: 1.3lbs</p><p>Color: Black</p><p>Quantity: 1</p><p>Cost: $100</p></td>" data-bind="click: $parent.removeItem, text: name"></span></td>
                                    <td><span data-bind="text: price"></span> <i class="icon-pencil"></i></td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">@DashboardViewResources.ActionMoveHeader <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                            <li><i class="icon-plus"></i> @DashboardViewResources.MoveToNewPackage</li>
                                            <li class="divider"></li>
                                            <li><i class="icon-gift"></i> Package name</li>
                                            <li><i class="icon-gift"></i> My Gifts</li></ul>
                                        </div>
                                    </td>
                                    <td class="draggable"><div></div></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><div></div></td>
                                    <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                                    <td>$0</td>
                                    <td></td>
                                    <td><div></div></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="btn-toolbar">
                        <span class="label label-info">@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                        <span class="label label-info">Создан: <span data-bind="text: orderDate"></span></span>
                        <span class="label label-info">@DashboardViewResources.StatusHeader: <span data-bind="text: status"></span></span>
                        <button class="btn btn-small btn-primary" data-bind="visible: canItemsBeModified" data-toggle="modal" href="#myModal"><i class="icon-white icon-plus-sign"></i> @DashboardViewResources.AddItemButton</button>
                        <button class="btn btn-small btn-danger" data-bind="click: $parent.removeOrder, visible: canBeRemoved"><i class="icon-white icon-trash"></i> @DashboardViewResources.RemoveOrderButton</button>
                        <button class="btn btn-small btn-danger"><i class="icon-white icon-inbox"></i> IN STOCK</button>
                        <button class="btn btn-small" data-toggle="modal" data-bind="visible: canBeRequestedForReturn"><i class="icon-retweet"></i> @DashboardViewResources.ReturnOrderButton</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6" style="float:right">
        <div class="package">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">@DashboardViewResources.RecentPackagesTabHeader</a></li>
                <li><a href="#">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on btn-large btn-success"><i class="icon-white icon-gift"></i></span>
                        <input class="add-order" style="width:60%" data-bind="value: newPackageField" placeholder="@DashboardViewResources.NewPackagePlaceholder"/><button class="btn btn-large btn-success" type="button" data-bind="click: createPackage">@DashboardViewResources.AddPackageButton</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="packages" data-bind="foreach: packages">
            <div class="package action">
                <div class="box">
                    <div>
                        <span data-bind="attr: { 'data-target': packageItemsIdWithNumberSign }" data-toggle="collapse"><i class="icon-white icon-chevron-right"></i></span>
                        <span>@DashboardViewResources.PackageNameHeader: <span data-bind="text: name"></span></span>
                    </div>
                    <div data-bind="attr: { id: packageItemsId }" class="white collapse">
                        <table>
                            <thead>
                                <tr class="left">
                                    <th colspan="2"><h4>Таможенная декларация</h4></th>
                                </tr>
                                <tr>
                                    <th class="left">@DashboardViewResources.ItemNameHeader</th>
                                    <th>@DashboardViewResources.PriceHeader</th>
                                </tr>
                            </thead>
                            <tbody id="package_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="left"><i class="icon-camera"></i> <span data-bind="text: name"></span></td>
                                    <td><span data-bind="text: price"></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td class="right"><span>Метод доставки: <span data-bind="text: dispatchMethod"></span></span></td>
                                    <td>$70</td>
                                </tr>
                                <tr>
                                    <td class="right"><span>Доставить на адрес <span data-bind="text: deliveryAddressName"></span></span></td>
                                    <td>$0</td>
                                </tr>
                            </tfoot>
                        </table>
                        <table>
                            <thead>
                                <tr class="left">
                                    <th colspan="3"><h4>Доставка</h4></th>
                                </tr>
                            </thead>
                            <tbody id="package_delivery">
                                <tr>
                                    <td class="left">
                                        <ul class="nav nav-pills">
                                        <li class="dropdown" id="menu1">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                                                Адрес доставки
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Мой адрес 1</a></li>
                                                <li><a href="#">Мой адрес 2</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Добавить адрес</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                    </td>
                                    <td class="left">
                                        <ul class="nav nav-pills">
                                        <li class="dropdown" id="menu2">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                                                Метод доставки
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Standart Delivery</a></li>
                                                <li><a href="#">Express Delivery</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="left"><i class="icon-camera"></i> <span data-bind="text: name"></span></td>
                                    <td><span data-bind="text: price"></span></td>
                                </tr>
                                <tr>
                                    <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td class="right"><span>Метод доставки: <span data-bind="text: dispatchMethod"></span></span></td>
                                    <td>$70</td>
                                </tr>
                                <tr>
                                    <td class="right"><span>Доставить на адрес: <span data-bind="text: deliveryAddressName"></span></span></td>
                                    <td>$0</td>
                                </tr>
                                <tr>
                                    <td class="right"><span>@DashboardViewResources.TotalCostHeader:</td>
                                    <td>$1234</span></td>
                                </tr>
                                <tr>
                                    <td class="right"><span>@DashboardViewResources.TotalWeightHeader:</td>
                                    <td>1.23 kg</span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="btn-toolbar">
                        <span class="label label-info">@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                        <span class="label label-info">@DashboardViewResources.StatusHeader: <span data-bind="text: status"></span></span>
                        <span class="label label-info">@DashboardViewResources.PackageCreatedDateHeader: <span data-bind="text: createdDate"></span></span>
                        <button class="btn btn-small btn-primary right" data-bind="click: sendPackage, visible: canBeSent"><i class="icon-white icon-plane"></i>@DashboardViewResources.SendPackageButton</button>
                        <button class="btn btn-small btn-danger" data-bind="click: $parent.removeOrder, visible: canBeRemoved"><i class="icon-white icon-trash"></i> @DashboardViewResources.RemoveOrderButton</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" style="display: none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@DashboardViewResources.AddItemForm</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Name</label>
            <div class="controls">
              <input class="input-xlarge focused" id="focusedInput" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Size</label>
            <div class="controls">
              <input class="input-xlarge focused" id="focusedInput" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Color</label>
            <div class="controls">
              <input class="input-xlarge focused" id="focusedInput" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Quantity</label>
            <div class="controls">
              <input class="input-xlarge focused" id="focusedInput" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="focusedInput">Price</label>
            <div class="controls">
              <div class="input-prepend input-append">
                <span class="add-on">$</span><input class="span1" id="appendedPrependedInput" size="16" type="text" style="text-align:right"><span class="add-on">.00</span>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">@DashboardViewResources.CancelButton</a>
    <a href="#" class="btn btn-primary">@DashboardViewResources.SaveChangesButton</a>
  </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/DashboardViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //            $('.left').dotdotdot({
            //                watch: 'window'
            //            });
            //            $('.add-order').tooltip({title: 'wrong url'});
            ko.applyBindings(new DashboardViewModel());
            $(".tn").popover();
            // $("table, tr").disableSelection();
            //$("html").niceScroll();
//            var columnHeight = $(window).height() - $("#actionPanel").height() - $("#topmenu").height() - $(".modal-footer").height() - 90;
//            $("#orders").height(columnHeight - 100);
//            $("#packages").height(columnHeight - 55);
            // $([]).add("#orders").add("#packages").niceScroll({ cursorborder: "", cursorcolor: "#A67852", boxzoom: false });
        });
    </script>
}