@using System.Web.Optimization
@using TdService.Resources.Views

@model TdService.UI.Web.ViewModels.Member.ShopperDashboardViewModel
@{
    ViewBag.Title = DashboardViewResources.DashboardPageTitle;
}
<div class="row-fluid">
    <div class="span6">
        <h3>@DashboardViewResources.OrdersHeader</h3><a href="#" class="store_address" data-trigger="click" data-title="@DashboardViewResources.MyUsAddressHeader" data-placement="bottom" data-content="<table class='table-striped table-condensed address'><tbody><tr><td>@AddressViewResources.AddressTable_FirstName: </td><td>@Model.FirstName</td></tr><tr><td>@AddressViewResources.AddressTable_LastName: </td><td>@Model.LastName</td></tr><tr><td>@AddressViewResources.AddressTable_AddressLine1: </td><td>452 PALISADE AVE #D</td></tr><tr><td>@AddressViewResources.AddressTable_AddressLine2: </td><td>CLIFFSIDE PARK , Ste #@Model.UserId</td></tr><tr><td>@AddressViewResources.AddressTable_ZipCode: </td><td>07010</td></tr><tr><td>@AddressViewResources.AddressTable_City: </td><td>New Jersey</td></tr><tr><td>@AddressViewResources.AddressTable_State: </td><td>New York or NY</td></tr><tr><td>@AddressViewResources.AddressTable_Phone: </td><td>(734)5166594</td></tr></tbody></table>">@DashboardViewResources.MyUsAddressLinkMessage</a><i class="icon-home" style="float:right;margin:2px 4px"></i>
        <div id="addOrderForm" class="package">
            <ul class="nav nav-tabs">
                @*<li><a href="#">@DashboardViewResources.OrderOption1</a></li>*@
                <li class="active"><a href="#recent_orders" data-toggle="tab">@DashboardViewResources.OrderOption2</a></li>
                <li><a href="#history_orders" data-toggle="tab">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <div class="control-group" data-bind="css: { error: !newOrderField.isValid() }, validationOptions: { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: false, errorElementClass: 'error' }">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input class="add-order" style="width:66%" data-bind="value: newOrderField, valueUpdate: 'afterkeydown', executeOnEnter: createOrder, autosuggest: retailers" title="@DashboardViewResources.NewOrderPlaceholder" placeholder="@DashboardViewResources.NewOrderPlaceholder"/><button id="addNewOrderButton" class="btn btn-large btn-success" type="button" data-loading-text="@DashboardViewResources.AddOrderButtonLoadingMessage" data-bind="click: createOrder, disable: disableAddOrderButton">@DashboardViewResources.AddOrderButton</button>
                        <div class="sub">
                            <div class="link_example">@DashboardViewResources.ExampleHeader: <a href="#" data-bind="click: addOrderExample.bind($data, 'amazon.com')">amazon.com</a>, <a href="#" data-bind="click: addOrderExample.bind($data, 'gap.com')">gap.com</a>, <a href="#" data-bind="click: addOrderExample.bind($data, 'macys.com')">macys.com</a></div>
                            <div class="link_expand"><a href="#" data-bind="click: collapseAllOrders">@DashboardViewResources.CollapseAllOrders</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:left"></div>
        <div data-bind="visible: shouldShowLoadingRecentOrdersMessage">
            <div class="alert package">@DashboardViewResources.LoadingRecentOrdersMessage</div>
            <br /><br /><br /><br /><br /><br /><br />
        </div>
        <div data-bind="visible: shouldShowOrdersEmptyMessage">
            <div class="alert alert-info package">@DashboardViewResources.NoOrdersMessage</div>
            <br /><br /><br /><br /><br /><br /><br />
        </div>
        <div class="tab-content">
            <div id="recent_orders" class="tab-pane active" data-bind="foreach: orders">
                @{
                    this.Html.RenderPartial("_orderView");
                }
            </div>
            <div id="history_orders" class="tab-pane" data-bind="foreach: ordersHistory">
                @{
                    this.Html.RenderPartial("_orderView");
                }
            </div>
        </div>
    </div>
    <div class="span6" style="float: right">
        <h3>@DashboardViewResources.PackagesHeader</h3><a href="#" class="btn btn-success balance">@DashboardViewResources.BalanceAddFundsButton</a><span style="float:right;margin:6px 12px;font-weight:bold;font-size:18px">@DashboardViewResources.BalanceHeader: $123</span>
        <div class="package">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#recent_packages">@DashboardViewResources.RecentPackagesTabHeader</a></li>
                <li><a href="#history_packages">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <div class="control-group" data-bind="css: { error: !newPackageField.isValid() }, validationOptions: { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: false, errorElementClass: 'error' }">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input class="add-order" style="width:66%" data-bind="value: newPackageField, valueUpdate: 'afterkeydown', executeOnEnter: createPackage" title="@DashboardViewResources.NewPackagePlaceholder" placeholder="@DashboardViewResources.NewPackagePlaceholder"/><button id="addNewPackageButton" class="btn btn-large btn-success" type="button" data-loading-text="@DashboardViewResources.AddPackageButtonLoadingMessage" data-bind="click: createPackage, disable: disableCreatePackageButton">@DashboardViewResources.AddPackageButton</button>
                        <div class="sub">
                            <div class="link_example">@DashboardViewResources.ExampleHeader: <a href="#" data-bind="click: addPackageExample.bind($data, 'моя посылка')">моя посылка</a></div>
                            <div class="link_expand"><a href="#" data-bind="click: collapseAllPackages">@DashboardViewResources.CollapseAllPackages</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:left"></div>
        <div data-bind="visible: shouldShowLoadingRecentPackagesMessage">
            <div class="alert package">@DashboardViewResources.LoadingRecentPackagesMessage</div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div data-bind="visible: shouldShowPackagesEmptyMessage">
            <div class="alert alert-info package">@DashboardViewResources.NoPackagesMessage</div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
        <div class="tab-content">
            <div id="recent_packages" class="tab-pane active" data-bind="foreach: packages">
                @{
                    this.Html.RenderPartial("_packageView");
                }
            </div>
            <div id="history_packages" class="tab-pane" data-bind="foreach: packages">
                @{
                    this.Html.RenderPartial("_packageView");
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/dashboard")
    <script type="text/javascript">
        $(document).ready(function () {
            var mainViewModel = new DashboardViewModel();
            ko.applyBindings(mainViewModel);
            ko.validation.init(mainViewModel, { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: true });
            $(".store_address").popover();
        });
    </script>
}
