@using System.Web.Optimization
@using TdService.Resources.Views

@model TdService.UI.Web.ViewModels.Member.ShopperDashboardViewModel
@{
    ViewBag.Title = DashboardViewResources.DashboardPageTitle;
}

@if (Model.OperatorMode)
{
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Dashboard", "Admin")">@TdService.Resources.BreadcrumbResources.BackToAdminDashboard</a> <span class="divider">/</span>
        </li>
        <li class="active">@TdService.Resources.BreadcrumbResources.UserPage</li>
    </ul>
    <div class="alert alert-block">
        <strong>@DashboardViewResources.WarningLabelText</strong>
        @Model.AdminViewNoticeMessage
    </div>
}

<div class="row-fluid">
    <div class="span6">
        <div class="body_header">
            <h3>@DashboardViewResources.OrdersHeader</h3>
            <a href="#" class="store_address" data-trigger="click" data-title="@DashboardViewResources.MyUsAddressHeader" data-placement="bottom" data-content="<table class='table-striped table-condensed address'><tbody><tr><td>@AddressViewResources.AddressTable_FirstName: </td><td>@Model.FirstName</td></tr><tr><td>@AddressViewResources.AddressTable_LastName: </td><td>@Model.LastName</td></tr><tr><td>@AddressViewResources.AddressTable_AddressLine1: </td><td>452 PALISADE AVE #D</td></tr><tr><td>@AddressViewResources.AddressTable_AddressLine2: </td><td>Ste #@Model.UserId</td></tr><tr><td>@AddressViewResources.AddressTable_ZipCode: </td><td>07010</td></tr><tr><td>@AddressViewResources.AddressTable_City: </td><td>CLIFFSIDE PARK</td></tr><tr><td>@AddressViewResources.AddressTable_State: </td><td>New Jersey or NJ</td></tr><tr><td>@AddressViewResources.AddressTable_Phone: </td><td>(734)5166594</td></tr></tbody></table>">@DashboardViewResources.MyUsAddressLinkMessage</a><i class="icon-home" style="margin-top: 5px"></i>
        </div>
        <div id="addOrderForm" class="package">
            <div class="control-group" data-bind="css: { error: !newOrderField.isValid() }, validationOptions: { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: false, errorElementClass: 'error' }">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input class="add-order" style="width:66%" data-bind="value: newOrderField, valueUpdate: 'afterkeydown', executeOnEnter: createOrder, autosuggest: retailers" title="@DashboardViewResources.NewOrderPlaceholder" placeholder="@DashboardViewResources.NewOrderPlaceholder"/><button id="addNewOrderButton" class="btn btn-large btn-success" type="button" data-loading-text="@DashboardViewResources.AddOrderButtonLoadingMessage" data-bind="click: createOrder, disable: disableAddOrderButton">@DashboardViewResources.AddOrderButton</button>
                        <div class="sub">
                            <div class="link_example">@DashboardViewResources.ExampleHeader: <a href="#" data-bind="click: addOrderExample.bind($data, 'amazon.com')">amazon.com</a>, <a href="#" data-bind="click: addOrderExample.bind($data, 'gap.com')">gap.com</a>, <a href="#" data-bind="click: addOrderExample.bind($data, 'macys.com')">macys.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="link_expand"><a href="#" title="@DashboardViewResources.ExpandAllOrders" data-bind="click: expandAllOrders"><i class="icon icon-chevron-down"></i>&nbsp;</a>&nbsp;<a href="#" title="@DashboardViewResources.CollapseAllOrders" data-bind="click: collapseAllOrders"><i class="icon icon-chevron-up"></i></a></div>
        <div class="tab-content" >
            <ul class="nav nav-tabs">
                @*<li><a href="#">@DashboardViewResources.OrderOption1</a></li>*@
                <li class="active"><a href="#recent_orders" data-toggle="tab">@DashboardViewResources.OrderOption2</a></li>
                <li><a href="#history_orders" data-toggle="tab">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <div id="recent_orders" class="tab-pane active">
                <div data-bind="visible: orders().length == 0">
                    <div class="alert package" data-bind="css: { 'alert-info': !recentOrdersNotLoaded() }">
                        <span data-bind="visible: recentOrdersNotLoaded()">@DashboardViewResources.LoadingRecentOrdersMessage</span>
                        <span data-bind="visible: !recentOrdersNotLoaded()">@DashboardViewResources.NoOrdersMessage</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div data-bind="foreach: orders">
                    @{
                        this.Html.RenderPartial("_orderView");
                    }
                </div>
            </div>
            <div id="history_orders" class="tab-pane">
                <div data-bind="visible: ordersHistory().length == 0">
                    <div class="alert package" data-bind="css: { 'alert-info': !historyOrdersNotLoaded() }">
                        <span data-bind="visible: historyOrdersNotLoaded()">@DashboardViewResources.LoadingHistoryOrdersMessage</span>
                        <span data-bind="visible: !historyOrdersNotLoaded()">@DashboardViewResources.NoHistoryOrdersMessage</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div data-bind="foreach: ordersHistory">
                    @{
                        this.Html.RenderPartial("_orderView");
                    }
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("balanceTable");}
    <div class="span6" style="float: right">
        <div class="body_header">
            <h3>@DashboardViewResources.PackagesHeader</h3>
            <form class='form-inline' style="float: right; margin-left: 10px" id='frmAddFunds'>
                <div class='input-prepend input-append'>
                    <span class='add-on'>$</span><input class='span1' type='text' id='amount' name='amount' placeholder='0.00' data-bind='value:addFundsAmount' style='width: 60px' /><input type="button" class="btn" style="font-size: 16px; width:100px;" id="btnAddFunds" data-bind="click:AddFunds, value: addingFunds()?'@DashboardViewResources.AddFundsButtonLoading':'@DashboardViewResources.AddFundsButton', disable: addingFunds()"/>
                </div>
            </form>
            <a href="#" class="store_address" data-bind="popover: balanceBindingValue">@DashboardViewResources.BalanceHeader: $<span data-bind="text:balance"></span>
            </a><i class="icon-money" style="margin-top: 6px"></i>
        </div>
        <div class="package">
            <div class="control-group" data-bind="css: { error: !newPackageField.isValid() }, validationOptions: { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: false, errorElementClass: 'error' }">
                <div class="controls">
                    <div class="input-prepend input-append">
                        <input class="add-order" style="width:66%" data-bind="value: newPackageField, valueUpdate: 'afterkeydown', executeOnEnter: createPackage" title="@DashboardViewResources.NewPackagePlaceholder" placeholder="@DashboardViewResources.NewPackagePlaceholder"/><button id="addNewPackageButton" class="btn btn-large btn-success" type="button" data-loading-text="@DashboardViewResources.AddPackageButtonLoadingMessage" data-bind="click: createPackage, disable: disableCreatePackageButton">@DashboardViewResources.AddPackageButton</button>
                        <div class="sub">
                            <div class="link_example">@DashboardViewResources.ExampleHeader: <a href="#" data-bind="click: addPackageExample.bind($data, 'моя посылка')">моя посылка</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="link_expand"><a id="balanceAnchor" href="#" title="@DashboardViewResources.ExpandAllPackages" data-bind="click: expandAllPackages"><i class="icon icon-chevron-down"></i>&nbsp;</a><a href="#" title="@DashboardViewResources.CollapseAllPackages" data-bind="click: collapseAllPackages"><i class="icon icon-chevron-up"></i>&nbsp;</a></div>
        <div class="tab-content">@*<div class="tab-content choose_package">*@
            <ul class="nav nav-tabs">
                <li class="active"><a href="#recent_packages" data-toggle="tab">@DashboardViewResources.RecentPackagesTabHeader</a></li>
                <li><a href="#history_packages" data-toggle="tab">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <div id="recent_packages" class="tab-pane active">
                <div data-bind="visible: packages().length == 0">
                    <div class="alert package" data-bind="css: { 'alert-info': !recentPackagesNotLoaded() }">
                        <span data-bind="visible: recentPackagesNotLoaded()">@DashboardViewResources.LoadingRecentPackagesMessage</span>
                        <span data-bind="visible: !recentPackagesNotLoaded()">@DashboardViewResources.NoPackagesMessage</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div data-bind="foreach: packages">
                    @{
                        this.Html.RenderPartial("_packageView");
                    }
                </div>
            </div>
            <div id="history_packages" class="tab-pane">
                <div data-bind="visible: packagesHistory().length == 0">
                    <div class="alert package" data-bind="css: { 'alert-info': !historyPackagesNotLoaded() }">
                        <span data-bind="visible: historyPackagesNotLoaded()">@DashboardViewResources.LoadingHistoryPackagesMessage</span>
                        <span data-bind="visible: !historyPackagesNotLoaded()">@DashboardViewResources.NoHistoryPackagesMessage</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
                <div data-bind="foreach: packagesHistory">
                    @{
                        this.Html.RenderPartial("_packageView");
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
@section Scripts
{
    @Scripts.Render("~/bundles/plUpload");
    @Scripts.Render("~/bundles/dashboard");
    <script type="text/javascript">
        $(document).ready(function() {
            ko.validation.init(mainViewModel, {
                registerExtenders: true,
                messagesOnModified: false,
                insertMessages: false,
                parseInputAttributes: true,
                messageTemplate: null
            });

            var mainViewModel = new DashboardViewModel($("#model").val());

            ko.applyBindings(mainViewModel);
            $(".store_address").popover();
            $(".choose_package").popover('show');
        });
    </script>
}
