@using TdService.Resources.Views
@{
    ViewBag.Title = DashboardViewResources.DashboardPageTitle;
}
<div class="row-fluid">
    <div class="span6">
        <div id="addOrderForm" class="package">
            <ul class="nav nav-tabs">
                <li><a href="#">@DashboardViewResources.OrderOption1</a></li>
                <li class="active"><a href="#">@DashboardViewResources.OrderOption2</a></li>
            </ul>
            <table class="form-inline" style="width:100%;position:relative;z-index:99">
                <tr>
                    <td>
                        <input class="add-order" style="width:100%" data-bind="value: newOrderField, autosuggest: retailers" placeholder="@DashboardViewResources.NewOrderPlaceholder"/>
                    </td>
                    <td>
                        <a href="#" class="btn btn-large btn-success" style="float: right" data-bind="click: createOrder">@DashboardViewResources.AddOrderButton</a>
                    </td>
                </tr>
            </table>
        </div>
        <div data-bind="visible: shouldShowOrdersEmptyMessage">@DashboardViewResources.NoOrdersMessage</div>
        <div id="orders" style="clear: left" data-bind="foreach: orders">
            <div data-bind="attr: { id: id }" class="package action">
                <div class="box">
                    <div>
                        <img title="Collapse" data-bind="attr: { 'data-target': orderItemsIdWithNumberSign }" data-toggle="collapse" src="@Url.Content("~/content/img/story_collapsed1.png")" alt="Collapse">
                        <span>@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                        <span style="float:right" data-bind="text: createdDate"></span>
                        <span style="float:right" data-bind="text: receivedDate"></span>
                    </div>
                    <div class="white">
                        <i class="icon icon-pencil"></i> @DashboardViewResources.OrderNumberHeader <span data-bind="text: orderNumber" type="text" placeholder="size"></span> from <span data-bind="text: retailerUrl"></span>
                        <br />
                        <i class="icon icon-pencil"></i> @DashboardViewResources.TrackingNumberHeader <span class="tn" title="A Title" data-content="And here's some amazing content. It's very engaging. right?" data-bind="text: trackingNumber" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum=EE972210493US"></span>
                    </div>
                    <div data-bind="attr: { id: orderItemsId }" class="white collapse">
                        @DashboardViewResources.NoItemsMessage
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="left">@DashboardViewResources.ItemNameHeader</th>
                                    <th>@DashboardViewResources.PriceHeader</th>
                                    <th>@DashboardViewResources.ActionHeader</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="sortable" id="order_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="draggable"><div></div></td>
                                    <td class="left"><i class="icon-camera"></i> <span class="tn" title="Kindle" data-content="<table class='details'><tr><td><img src='@Url.Content("~/content/img/kindle.jpg")' /></td><td><p>Name: Kindle</p><p>Weight: 1.3lbs</p><p>Color: Black</p><p>Quantity: 1</p><p>Cost: $100</p></td>" data-bind="click: $parent.removeItem, text: name"></span></td>
                                    <td><span data-bind="text: price"></span> <i class="icon-pencil"></i></td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">@DashboardViewResources.ActionMoveHeader <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                            <li><i class="icon-plus"></i> @DashboardViewResources.MoveToNewPackage</li>
                                            <li class="divider"></li>
                                            <li><i class="icon-gift"></i> Package name</li>
                                            <li><i class="icon-gift"></i> My Gifts</li></ul>
                                        </div>
                                    </td>
                                    <td class="draggable"><div></div></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><div></div></td>
                                    <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                                    <td>$0</td>
                                    <td></td>
                                    <td><div></div></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="btn-toolbar">
                        <span class="label label-info">@DashboardViewResources.StatusHeader: <span data-bind="text: status"></span></span>
                        <button class="btn btn-small btn-primary" data-bind="visible: canItemsBeModified" data-toggle="modal" href="#myModal"><i class="icon-white icon-plus-sign"></i> @DashboardViewResources.AddItemButton</button>
                        <button class="btn btn-small btn-danger" data-bind="click: $parent.removeOrder, visible: canBeRemoved"><i class="icon-white icon-trash"></i> @DashboardViewResources.RemoveOrderButton</button>
                        <button class="btn btn-small" data-toggle="modal" data-bind="visible: canBeRequestedForReturn"><i class="icon-retweet"></i> @DashboardViewResources.ReturnOrderButton</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="package">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">@DashboardViewResources.RecentPackagesTabHeader</a></li>
                <li><a href="#">@DashboardViewResources.HistoryPackagesTabHeader</a></li>
            </ul>
            <table class="form-inline" style="width:100%;position:relative;z-index:99">
                <tr>
                    <td>
                        <input class="add-order" style="width:100%" data-bind="value: newPackageField" placeholder="@DashboardViewResources.NewPackagePlaceholder"/>
                    </td>
                    <td>
                        <a href="#" class="btn btn-large btn-success" style="float: right" data-bind="click: createPackage"><i class="icon-white icon-gift"></i> @DashboardViewResources.AddPackageButton</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="packages" data-bind="foreach: packages">
            <div class="package action">
                <div class="box">
                    <div>
                        <img title="Collapse" data-toggle="collapse" data-bind="attr: { 'data-target': packageItemsIdWithNumberSign }" src="@Url.Content("~/content/img/story_collapsed1.png")" alt="Collapse">
                        <span>@DashboardViewResources.OrderIdHeader: <span data-bind="text: id"></span></span>
                        <span>@DashboardViewResources.PackageNameHeader: <span data-bind="text: name"></span></span>
                        <span style="float:right">@DashboardViewResources.PackageCreatedDateHeader: <span data-bind="text: createdDate"></span></span>
                    </div>
                    <div class="white">
                        <span data-bind="text: deliveryAddressName"></span>
                        <br />
                        <span data-bind="text: dispatchMethod"></span>
                    </div>
                    <div data-bind="attr: { id: packageItemsId }" class="white collapse">
                        <table>
                            <thead>
                                <tr>
                                    <th class="left">@DashboardViewResources.ItemNameHeader</th>
                                    <th>@DashboardViewResources.PriceHeader</th>
                                </tr>
                            </thead>
                            <tbody id="package_items" data-bind="sortable: {data: items}">
                                <tr>
                                    <td class="left"><i class="icon-camera"></i> <span data-bind="text: name"></span></td>
                                    <td><span data-bind="text: price"></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="right">@DashboardViewResources.ItemsTotalHeader</td>
                                    <td>$0</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="btn-toolbar">
                        <span class="label label-info">@DashboardViewResources.StatusHeader: <span data-bind="text: status"></span></span>
                        <span>@DashboardViewResources.TotalCostHeader: $1234</span>
                        <span>@DashboardViewResources.TotalWeightHeader: 1.23 kg</span>
                        <button class="btn btn-small btn-primary right" data-bind="click: sendPackage, visible: canBeSent"><i class="icon-white icon-plane"></i>@DashboardViewResources.SendPackageButton</button>
                        <button class="btn btn-small btn-danger" data-bind="click: $parent.removeOrder, visible: canBeRemoved"><i class="icon-white icon-trash"></i> @DashboardViewResources.RemoveOrderButton</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal" style="display: none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@DashboardViewResources.AddItemForm</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">@DashboardViewResources.CancelButton</a>
    <a href="#" class="btn btn-primary">@DashboardViewResources.SaveChangesButton</a>
  </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/DashboardViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //            $('.left').dotdotdot({
            //                watch: 'window'
            //            });
            //            $('.add-order').tooltip({title: 'wrong url'});
            ko.applyBindings(new DashboardViewModel());
            $(".tn").popover();
            // $("table, tr").disableSelection();
            //$("html").niceScroll();
//            var columnHeight = $(window).height() - $("#actionPanel").height() - $("#topmenu").height() - $(".modal-footer").height() - 90;
//            $("#orders").height(columnHeight - 100);
//            $("#packages").height(columnHeight - 55);
            // $([]).add("#orders").add("#packages").niceScroll({ cursorborder: "", cursorcolor: "#A67852", boxzoom: false });
        });
    </script>
}