@using TdService.Resources.Views
@model TdService.UI.Web.ViewModels.Member.WelcomeViewModel
@{
    ViewBag.Title = WelcomeViewResources.WelcomePageHeader;
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit" style="margin-right: 460px">
                <h1>@WelcomeViewResources.WelcomeHeader</h1>
                <br />
                @*<p>Уважаемый(ая) Vitali Hatalski!</p>
                <p>Мы рады приветствовать Вас на нашем ресурсе. Надеемся, что мы станем хорошими друзьями и Вам будет легко и приятно работать с нами.</p>*@
                <p>@WelcomeViewResources.UsAddressHeader:</p>
                <div class="alert">
                    <p>@AddressViewResources.AddressTable_FirstName: @Model.FirstName</p>
                    <p>@AddressViewResources.AddressTable_LastName: @Model.LastName</p>
                    <p>@AddressViewResources.AddressTable_ZipCode: 07010</p>
                    <p>@AddressViewResources.AddressTable_AddressLine1: 452 PALISADE AVE #D</p>
                    <p>@AddressViewResources.AddressTable_AddressLine2: CLIFFSIDE PARK , Ste #@Model.UserId</p>
                    <p>@AddressViewResources.AddressTable_City: New Jersey</p>
                    <p>@AddressViewResources.AddressTable_State: New York or NY</p>
                    <p>@AddressViewResources.AddressTable_Phone: (734)5166594</p>
                </div>
                <a class="btn btn-large btn-success" href="@Url.Action("Dashboard")">Перейти к работе с заказами!</a>
                @*<p></p>*@
            </div>
        </div>
        <div class="mail">
            <p class="mail_address">
                @Model.FirstName @Model.LastName<br />
                452 PALISADE AVE #D<br />
                CLIFFSIDE PARK , Ste #@Model.UserId<br />
                New Jersey, NY 07010
            </p>
        </div>
    </div>
</div>