@using TdService.Resources.Views
@using System.Web.Optimization

@model TdService.UI.Web.ViewModels.Admin.AdminDashBoardViewModel
@{
    ViewBag.Title = AdminDashboardResources.AdminDashboardPageTitle;
}

<h2>Admin Dashboard</h2>
<ul class="nav nav-tabs">
    <li><a href="#users" data-toggle="tab">Users</a></li>
    <li><a href="#roles" data-toggle="tab">Administrators</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>
<table class="roles-filter">
    <tr data-bind="foreach: roles">
        <td data-bind="click:$parent.changeSelectedRole, text:roleName"></td>
    </tr>
</table>
<div class="tab-content">
    <div class="tab-pane active" id="users">
        <form class="well form-inline" style="padding: 8px 0 0">
            <ul class="filter">
                <li class="span4">
                    <input type="text" data-bind="value:userId" class="span3">
                    <button type="submit" class="btn" data-bind="click:FilterById">@AdminDashboardResources.BtnFindText</button>
                </li>
            </ul>
        </form>
        <div data-bind='visible: users().length == 0'>
            <div class='alert alert-info'>
                <span>@AdminDashboardResources.NoUsersFound</span>
            </div>
            <br />
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 5%">
                        <input type="checkbox" /></th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoId</th>
                    <th style="width: 20%">@AdminDashboardResources.UserInfoUsername</th>
                    <th style="width: 30%">@AdminDashboardResources.UserInfoFullName</th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoOrders</th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoPackages</th>
                    <th style="width: 30%">@AdminDashboardResources.UserInfoLastAccessTime</th>
                </tr>
            </thead>
            <tbody data-bind='foreach: users()'>
                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td data-bind='text: Id'></td>
                    <td data-bind='text: Email'></td>
                    <td data-bind='text: FullName'></td>
                    <td data-bind='text: OrdersCount'></td>
                    <td data-bind='text: PackagesCount'></td>
                    <td data-bind='text: LastAccessDate'></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="roles">
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Project viewer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered span4 header">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tag build</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Take responsibility</td>
                    <td></td>
                </tr>
                <tr>
                    <td>View project</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
@section Scripts
{
    @Scripts.Render("~/bundles/adminDashboard")
    <script type="text/javascript">
        $(document).ready(function () {
            var mainViewModel = new AdminDashboardViewModel($("#model").val());
            ko.applyBindings(mainViewModel);
        });
    </script>
}