@using TdService.Resources.Views
@using System.Web.Optimization

@model TdService.UI.Web.ViewModels.Admin.AdminDashBoardViewModel
@{
    ViewBag.Title = AdminDashboardResources.AdminDashboardPageTitle;
}

<ul class="breadcrumb">
    <li class="active">@TdService.Resources.BreadcrumbResources.AdminDashboard</li>
</ul>
<ul class="nav nav-tabs">
    <li class="active"><a href="#users" data-toggle="tab">@AdminDashboardResources.TabHeaderUsers</a></li>
    <li><a href="#packages" id="packagesTabHeader" data-toggle="tab">@AdminDashboardResources.TabHeaderPackages</a></li>
    <li><a href="#messages"  data-toggle="tab">@AdminDashboardResources.TabHeaderEmailNotifications</a></li>
    <li><a href="#settings" data-toggle="tab">@AdminDashboardResources.TabHeaderSettings</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="users" data-bind="with:usersTab">
        <div class="filterDiv">
            <div class="topArea" data-toggle="buttons-radio" data-bind="foreach: roles">
                <button type="button" class="btn btn-primary" data-bind="css: {active: selected}, click: $parent.changeSelectedRole, text: roleName"></button>
            </div>
            <div class="topArea divNewAdminPopupBtn">
                <button class="btn btn-primary" data-bind="visible: canModifyUserRoles, click:newUserViewModel.showPopup" href="#newUserFormModal">@AdminDashboardResources.AddUserForm</button>
            </div>
        </div>
        <form class="well form-inline" style="padding: 8px 0 0">
            <ul class="filter">
                <li class="span4">
                    <input placeholder="@AdminDashboardResources.FindByIdWaterMark" type="text" data-bind="value:userId" class="span3">
                    <button type="submit" class="btn" data-bind="click:FilterById">@AdminDashboardResources.BtnFindText</button>
                </li>
                <li class="span4">
                    <input placeholder="@AdminDashboardResources.FindByEmailWaterMark" type="text" data-bind="value:userEmail" class="span3">
                    <button type="submit" class="btn" data-bind="click:FilterByEmail">@AdminDashboardResources.BtnFindText</button>
                </li>
            </ul>
        </form>

        <div data-bind="visible: users().length == 0">
            <div class='alert alert-info'>
                <span>@AdminDashboardResources.NoUsersFound</span>
            </div>
            <br />
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 5%">
                        <input type="checkbox" /></th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoId</th>
                    <th style="width: 20%">@AdminDashboardResources.UserInfoUsername</th>
                    <th style="width: 30%">@AdminDashboardResources.UserInfoFullName</th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoOrders</th>
                    <th style="width: 5%">@AdminDashboardResources.UserInfoPackages</th>
                    <th style="width: 35%">@AdminDashboardResources.RolesForUser</th>
                </tr>
            </thead>
            <tbody data-bind='foreach: users'>
                <tr data-bind="click:viewShopperDashboard">
                    <td>
                        <input type="checkbox" /></td>
                    <td data-bind='text: Id'></td>
                    <td data-bind='text: Email'></td>
                    <td data-bind='text: FullName'></td>
                    <td data-bind='text: OrdersCount'></td>
                    <td data-bind='text: PackagesCount'></td>
                    <td data-bind='foreach: Roles' data-toggle='buttons-radio'>
                        <button type="button" class="btn btn-small" data-bind="css: {active: userIsInRole}, click: $parent.toggleRole,  text: roleName"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagingArea" data-bind="visible: users().length != 0">
            <span class="pageSizeSpan">@AdminDashboardResources.UsersPerPage &nbsp;<select data-bind="options: userListPageSizes, value:selectedPageSize,  event:{change:changePageSize}"></select></span>
            <span class="navButtonsSpan">
                <input type="button" value="@AdminDashboardResources.PrevPage" data-bind="event:{click:movePrevPage}, enable:canMovePrev" />
                <input type="text" placeholder="@AdminDashboardResources.GotoPageWatermark" data-bind="valueUpdate: 'afterkeydown', executeOnEnter: goToPage, value:goToPageIndex" />
                <input type="button" value="@AdminDashboardResources.NextPage" data-bind="event:{click:moveNextPage}, enable:canMoveNext" />
            </span>
            <span class="pageNumberSpan">@AdminDashboardResources.PagingText1 &nbsp;<span data-bind="text:currentPage"></span>&nbsp;@AdminDashboardResources.PagingText2 &nbsp;<span data-bind="text:pageCount"></span></span>
        </div>
        <div class="modal" id="newUserFormModal" style="display: none" data-bind="with: newUserViewModel">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>@AdminDashboardResources.AddUserForm</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="tbRepeatPwd">@AdminDashboardResources.UserInfoIsAdmin</label>
                            <div class="controls">
                                <input type="checkbox" class="input-xlarge focused" data-bind="checked: isAdmin, enable:isOperator" id="cbAdmin">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbRepeatPwd">@AdminDashboardResources.UserInfoIsOperator</label>
                            <div class="controls">
                                <input type="checkbox" class="input-xlarge focused" data-bind="checked: isOperator,enable:isAdmin" id="cbOperator">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbEmail">@AdminDashboardResources.UserInfoEmail</label>
                            <div class="controls">
                                <input class="input-xlarge focused" data-bind="value: email, validationElement: email" id="tbEmail" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbFirstName">@AdminDashboardResources.UserInfoFirstName</label>
                            <div class="controls">
                                <input class="input-xlarge focused" data-bind="value: firstName" id="tbFirstName" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbLastName">@AdminDashboardResources.UserInfoLastName</label>
                            <div class="controls">
                                <input class="input-xlarge focused" data-bind="value: lastName" id="tbLastName" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbPwd">@AdminDashboardResources.UserInfoPassword</label>
                            <div class="controls">
                                <input class="input-xlarge focused" data-bind="value: password" id="tbPwd" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="tbRepeatPwd">@AdminDashboardResources.UserInfoRepeatPassword</label>
                            <div class="controls">
                                <input class="input-xlarge focused" data-bind="value: repeatPassword" id="tbRepeatPwd" type="text">
                            </div>
                        </div>
                    </fieldset>
                    <div class="modalValidationErrors" data-bind="foreach:validationModel.errors, visible:errorsVisible">
                        <div data-bind="text:$data"></div>
                    </div>
                    <div class="modalValidationErrors" data-bind="foreach:brokenRules, visible:errorsVisible">
                        <div data-bind="text:$data"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">@AdminDashboardResources.CancelButton</a>
                <a href="#" class="btn btn-primary" data-bind="click: saveUser">@AdminDashboardResources.SaveChangesButton</a>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="packages" data-bind="with:PackagesTab">
        <div class="filterDiv">
            <div class="topArea">
                <button type="button" class="btn btn-primary" data-bind="css: {active: assemblingRequestedSelected}, click: toggleShowAssemblingRequestedPackages, text: '@AdminDashboardResources.BtnShowAssemblingText'"></button>
                <button type="button" class="btn btn-primary" data-bind="css: {active: dispatchRequestedSelected}, click: toggleShowDispatchRequestedPackages, text: '@AdminDashboardResources.BtnShowPaidText'"></button>
            </div>
        </div>
        <div data-bind="visible: userPackages().length == 0">
            <div class='alert alert-info'>
                <span>@AdminDashboardResources.NoUsersPackagesFound</span>
            </div>
            <br />
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@AdminDashboardResources.UserInfoId</th>
                    <th>@AdminDashboardResources.UserInfoUsername</th>
                    <th>@AdminDashboardResources.PackageInfoPackageId</th>
                    <th>@AdminDashboardResources.PackageInfoPackageName</th>
                    <th>@AdminDashboardResources.PackageInfoDispatchMethod</th>
                    <th>@AdminDashboardResources.PackageInfoItemsCount</th>
                    <th>@AdminDashboardResources.UserInfoPackageStatus</th>
                </tr>
            </thead>
            <tbody data-bind='foreach: userPackages'>
                <tr data-bind="click:viewShopperDashboard">
                    <td data-bind='text: userId'></td>
                    <td data-bind='text: email'></td>
                    <td data-bind='text: packageId'></td>
                    <td data-bind='text: packageName'></td>
                    <td data-bind='text: dispatchMethod'></td>
                    <td data-bind='text: itemsCount'></td>
                    <td data-bind='text: status'></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="messages">
        Страница создания email рассылок для подписавшихся пользователей
    </div>
    <div class="tab-pane" id="settings">
        Страница со статистикой продаж и настройками цен на услуги
    </div>

</div>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
@section Scripts
{
    @Scripts.Render("~/bundles/adminDashboard")
    <script type="text/javascript">
        $(document).ready(function () {
            var mainViewModel = new AdminDashboardViewModel($("#model").val());
            ko.validation.init();
            ko.applyBindings(mainViewModel);
        });
    </script>
}