@model TdService.UI.Web.ViewModels.Account.ForgotPasswordViewModel
@using TdService.Resources
@using TdService.Resources.Views;
@{
    ViewBag.Title = AccountViewResources.ForgotPageTitle;
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">@SiteMapLocalizations.HomeTitle</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("SignIn", "Account")">@AccountViewResources.SignInPageHeader</a> <span class="divider">/</span>
    </li>
    <li class="active">@AccountViewResources.ForgotPageTitle</li>
</ul>
@using (Html.BeginForm("Forgot", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="control-group">
            <h3>@AccountViewResources.ForgotFormHelpMessage</h3>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.EmailFormLabel:</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "class", "input-xlarge" }, { "placeholder", AccountViewResources.EmailFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">@AccountViewResources.ResetPasswordButton</button>
        </div>
    </fieldset>
}