@model TdService.Services.ViewModels.Account.ForgotPasswordView
@using TdService.Resources.Views;
@{
    ViewBag.Title = ForgotViewResources.PageTitle;
}

@using(Html.BeginForm("Forgot", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken("forgot")
    <fieldset>
        <div class="control-group">
            <h2>@ForgotViewResources.PageHeader</h2>
        </div>
        <div class="control-group">
            @ForgotViewResources.FormHelpMessage
        </div>
        <div class="control-group">
            <label class="control-label">@ForgotViewResources.EmailFormLabel</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "class", "input-xlarge" }, { "data-bind", "value: email" }, { "placeholder", ForgotViewResources.EmailFormFieldPlaceholder } })
                    @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">@ForgotViewResources.ResetPasswordButton</button>
        </div>
    </fieldset>
}
