@model TdService.UI.Web.ViewModels.Account.NewPasswordViewModel

@{
    ViewBag.Title = TdService.Resources.Views.NewPasswordViewResources.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PwdResetKey)
    <fieldset>
        <div class="control-group">
            <h2>TdService.Resources.Views.NewPasswordViewResources.PageTitle</h2>
        </div>
        <div class="control-group">
            @TdService.Resources.Views.NewPasswordViewResources.NewPwdPageText
        </div>
        <div class="control-group">
            <label class="control-label">@TdService.Resources.Views.NewPasswordViewResources.PasswordFormLabel</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.Password, new Dictionary<string, object> { { "class", "input-xlarge" } })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
         <div class="control-group">
            <label class="control-label">@TdService.Resources.Views.NewPasswordViewResources.ConfirmPasswordFormLabel</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.ConfirmPassword, new Dictionary<string, object> { { "class", "input-xlarge" } })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">@TdService.Resources.Views.NewPasswordViewResources.ResetPasswordButtonText</button>
        </div>
    </fieldset>
}
