@using TdService.Resources
@using TdService.Resources.Views
@model TdService.UI.Web.ViewModels.Account.NewPasswordViewModel

@{
    ViewBag.Title = NewPasswordViewResources.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">@SiteMapLocalizations.HomeTitle</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("SignIn", "Account")">@AccountViewResources.SignInPageHeader</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("Forgot", "Account")">@AccountViewResources.ForgotPageTitle</a> <span class="divider">/</span>
    </li>
    <li class="active">@NewPasswordViewResources.PageTitle</li>
</ul>
@using (Html.BeginForm("NewPassword", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PwdResetKey)
    <fieldset>
        <div class="control-group">
            <h3>@NewPasswordViewResources.NewPwdPageText</h3>
        </div>
        <div class="control-group">
            <label class="control-label">@NewPasswordViewResources.PasswordFormLabel</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.Password, new Dictionary<string, object> { { "class", "input-xlarge" } })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
         <div class="control-group">
            <label class="control-label">@NewPasswordViewResources.ConfirmPasswordFormLabel</label>
            <div class="controls error-inline">
                @Html.TextBoxFor(m => m.ConfirmPassword, new Dictionary<string, object> { { "class", "input-xlarge" } })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">@NewPasswordViewResources.ResetPasswordButtonText</button>
        </div>
    </fieldset>
}
