@using TdService.Resources
@using TdService.Resources.Views
@{
    ViewBag.Title = AccountViewResources.PasswordResetPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">@SiteMapLocalizations.HomeTitle</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("SignIn", "Account")">@AccountViewResources.SignInPageHeader</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("Forgot", "Account")">@AccountViewResources.ForgotPageTitle</a> <span class="divider">/</span>
    </li>
    <li class="active">@AccountViewResources.PasswordResetPageTitle</li>
</ul>
<div class="alert alert-info"><h3>@AccountViewResources.PwdRecoveryEmailSent</h3></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>