@using TdService.Resources
@using TdService.Resources.Views
@{
    ViewBag.Title = AccountViewResources.PasswordChangedPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">@SiteMapLocalizations.HomeTitle</a> <span class="divider">/</span>
    </li>
    <li>
        <a href="@Url.Action("SignIn", "Account")">@AccountViewResources.SignInPageTitle</a> <span class="divider">/</span>
    </li>
    <li class="active">@AccountViewResources.PasswordChangedPageTitle</li>
</ul>
<h2>@AccountViewResources.PasswordChangedPageContent</h2>
<br />
<a href="@Url.Action("SignIn", "Account")">@AccountViewResources.SignInFormHeader</a>