@model TdService.UI.Web.ViewModels.Account.MainViewModel
@using TdService.Resources
@using TdService.Resources.Views;
@{
    ViewBag.Title = AccountViewResources.SignUpPageTitle;
}

<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Home")">@SiteMapLocalizations.HomeTitle</a> <span class="divider">/</span>
    </li>
    <li class="active">@AccountViewResources.SignUpPageHeader</li>
</ul>
<div id="signUpForm">
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="control-group">
                <h3>@AccountViewResources.SignUpPageHeader</h3>
            </div>
            <div class="control-group">
                <label class="control-label">@AccountViewResources.EmailFormLabel:</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.SignUpViewModel.Email, new Dictionary<string, object> { { "type", "email" }, { "class", "input-xlarge" }, { "placeholder", AccountViewResources.EmailFormFieldPlaceholder } })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@AccountViewResources.PasswordFormLabel:</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.SignUpViewModel.Password, new Dictionary<string, object> { { "class", "input-xlarge" }, { "placeholder", AccountViewResources.PasswordFormFieldPlaceholder } })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@AccountViewResources.ConfirmPasswordFormLabel:</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.SignUpViewModel.PasswordConfirm, new Dictionary<string, object> { { "class", "input-xlarge" }, { "placeholder", AccountViewResources.PasswordConfirmFormFieldPlaceholder } })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@AccountViewResources.FirstNameFormLabel:</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.SignUpViewModel.FirstName, new Dictionary<string, object> { { "class", "input-xlarge" }, { "placeholder", AccountViewResources.FirstNameFormFieldPlaceholder } })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@AccountViewResources.LastNameFormLabel:</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.SignUpViewModel.LastName, new Dictionary<string, object> { { "class", "input-xlarge" }, { "placeholder", AccountViewResources.LastNameFormFieldPlaceholder } })
                </div>
            </div>
            @Html.ValidationSummary()
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-large">@AccountViewResources.SignUpButton</button>
            </div>
        </fieldset>
    }
</div>