@using TdService.Resources
@using TdService.Resources.Views
@model TdService.Services.ViewModels.Account.SignInView

@{
    ViewBag.Title = SignInResources.PageTitle;
}

<form class="form-horizontal" action="@Url.Action("SignIn", "Account")" method="POST">
    <fieldset>
        <div class="control-group">
            <h2>@SignInResources.PageHeader</h2>
        </div>
        <div class="control-group">
            <label class="control-label">@SignInResources.EmailHeader</label>
            <div class="controls">
                <input name="Email" class="input-xlarge" type="text" data-val="true" 
                       data-bind="value: email" data-val-length="@BusinessRules.User_EmailRequired" 
                       data-val-length-max="256" data-val-required="@BusinessRules.User_EmailRequired">
                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@SignInResources.PasswordHeader:</label>
            <div class="controls">
                <input name="Password" class="input-xlarge" type="password" data-val="true" 
                       data-bind="value: password" data-val-length="@BusinessRules.Profile_FirstNameLength" 
                       data-val-length-max="21" data-val-required="@BusinessRules.Profile_FirstNameRequired">
                <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div style="float:left"><input id="rememberMe" name="RememberMe" type="checkbox" checked="checked"></div>
                <div style="float:left;margin:3px"><label for="rememberMe">@SignInResources.RememberMeHeader</label></div>
                <div style="float:left;margin:3px 0 0 22px"><a href="@Url.Action("Forgot", "Account")">Forgot email or password?</a></div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">Start Shopping!</button>
        </div>
    </fieldset>
</form>