@model TdService.UI.Web.ViewModels.Account.MainViewModel
@using TdService.Resources.Views;
@{
    ViewBag.Title = AccountViewResources.SignUpPageTitle;
}
@using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" } }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="control-group">
            <h2>@AccountViewResources.SignUpPageHeader</h2>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.EmailFormLabel:</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.SignUpViewModel.Email, new Dictionary<string, object> { { "type", "email" }, { "class", "input-xlarge" }, { "data-bind", "value: email, change: verifyEmailExists" }, { "placeholder", AccountViewResources.EmailFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.SignUpViewModel.Email)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.PasswordFormLabel:</label>
            <div class="controls">
                @Html.PasswordFor(m => m.SignUpViewModel.Password, new Dictionary<string, object> { { "class", "input-xlarge" }, { "data-bind", "value: password" }, { "placeholder", AccountViewResources.PasswordFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.SignUpViewModel.Password)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.ConfirmPasswordFormLabel:</label>
            <div class="controls">
                @Html.PasswordFor(m => m.SignUpViewModel.PasswordConfirm, new Dictionary<string, object> { { "class", "input-xlarge" }, { "data-bind", "value: passwordConfirm" }, { "placeholder", AccountViewResources.PasswordConfirmFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.SignUpViewModel.PasswordConfirm)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.FirstNameFormLabel:</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.SignUpViewModel.FirstName, new Dictionary<string, object> { { "class", "input-xlarge" }, { "data-bind", "value: firstName" }, { "placeholder", AccountViewResources.FirstNameFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.SignUpViewModel.FirstName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@AccountViewResources.LastNameFormLabel:</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.SignUpViewModel.LastName, new Dictionary<string, object> { { "class", "input-xlarge" }, { "data-bind", "value: lastName" }, { "placeholder", AccountViewResources.LastNameFormFieldPlaceholder } })
                @Html.ValidationMessageFor(m => m.SignUpViewModel.LastName)
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large">@AccountViewResources.SignUpButton</button>
        </div>
    </fieldset>
}
@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/model/SignUpViewModel.js")"></script>
    <script type="text/javascript">
    </script>
}