@using Combres.Mvc;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    @Html.CombresLink("siteCss")
    <style>
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/ico/favicon.ico")">
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/img/bootstrap-apple-57x57.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/img/bootstrap-apple-72x72.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/img/bootstrap-apple-114x114.png")">
</head>
<body>
    <div id="topmenu" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Action("Index", "Home")">Shop Any Ware</a>
                <div class="nav-collapse">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @Html.MvcSiteMap("TopMenu").Menu("TopMenuHelperModel", true)
                    }
                    else
                    {
                        @Html.MvcSiteMap("Shopper").Menu("PillsMenuHelperModel", false);
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav nav-pills pull-right">
                            <li><a href="#"><i class="icon-white icon-user"></i> Vitali Hatalski</a></li>
                            <li><a data-toggle="modal" href="#storeAddress"><i class="icon-white icon-home"></i> Your Address in US</a></li>
                            <li><a href="@Url.Action("Index", "Profile")"><i class="icon-white icon-th-list"></i> Delivery</a></li>
                            <li><a href="#"><i class="icon-white icon-cog"></i> Settings</a></li>
                            <li><a href="@Url.Action("SignOut", "Account")"><i class="icon-white icon-off"></i> Sign Out</a></li>
                        </ul>
                        @*<ul class="nav pull-right">
                            <li id="fat-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                          Vitali Hatalski <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                                    <li><a data-toggle="modal" href="#storeAddress"><i class="icon-home"></i> Store Address in US</a></li>
                                    <li><a href="@Url.Action("Index", "Profile")"><i class="icon-th-list"></i> Delivery Addresses</a></li>
                                    <li><a href="#"><i class="icon-cog"></i> Account Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("SignOut", "Account")"><i class="icon-off"></i> Sign Out</a></li>
                                </ul>
                            </li>
                        </ul>*@
                    }
                    else
                    {
                        <a href="@Url.Action("SignUp", "Account")" class="btn btn-success" style="margin-top:6px;margin-left: 20px">JOIN US &raquo;</a>                        
                        <a href="@Url.Action("SignIn", "Account")" class="btn btn-primary" style="margin-top:6px;margin-left: 20px">SIGN IN &raquo;</a>                        
                    }
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; ShowAnyWare.com 2012</p>
        </footer>
    </div>
    <div id="storeAddress" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Your Store Address in USA</h3>
        </div>
        <div class="modal-body">
            @{Html.RenderPartial("storeAddress", true);}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
    <div id="profile" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Edit Your Profile</h3>
        </div>
        <div class="modal-body">
            @{Html.RenderPartial("storeAddress", true);}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>
    <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Html.CombresLink("siteJs")
    @RenderSection("Scripts", false)
</body>
</html>