@using System.Web.Optimization
@using TdService.Resources.Views;
@{
    ViewBag.Title = "Shop Any Ware";
}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span8">
        <div class="hero-unit">
            <h1>@HomeViewResources.PageHeroHeader</h1>
            <br/>
            <p>@HomeViewResources.PageHeroDescription</p>
            @*<br/>
            <p><a href="@Url.Action("SignUp", "AccountAuth")" class="btn btn-primary btn-large">Sign up free and start shopping &raquo;</a></p>*@
        </div>
    </div>
    <div class="span4 form_registration">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#signUpForm" data-toggle="tab">@AccountViewResources.SignUpFormHeader</a></li>
            <li><a href="#signInForm" data-toggle="tab">@AccountViewResources.SignInFormHeader</a></li>
        </ul>
        <div class="tab-content">
            <div id="signUpForm" class="tab-pane active">
                <form class="form-horizontal">
                    @Html.AntiForgeryToken("signup")
                    <fieldset>
                        @*<div class="control-group">
                            <h2>@AccountViewResources.SignUpPageHeader</h2>
                        </div>*@
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.EmailFormLabel:</label>
                            <div class="controls">
                                <input type="email" class="input-xlarge" data-bind="value: email" required placeholder="@AccountViewResources.EmailFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.PasswordFormLabel:</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" data-bind="value: password" required placeholder="@AccountViewResources.PasswordFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.ConfirmPasswordFormLabel:</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" data-bind="value: passwordConfirm" required placeholder="@AccountViewResources.PasswordConfirmFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.FirstNameFormLabel:</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" data-bind="value: firstName" required placeholder="@AccountViewResources.FirstNameFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.LastNameFormLabel:</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" data-bind="value: lastName" required placeholder="@AccountViewResources.LastNameFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-large">@AccountViewResources.SignUpButton</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id="signInForm" class="tab-pane">
                <form class="form-horizontal">
                    <fieldset>
                        @*<div class="control-group">
                            <h2>@AccountViewResources.SignInPageHeader</h2>
                        </div>*@
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.EmailFormLabel:</label>
                            <div class="controls">
                                <input type="email" class="input-xlarge" data-bind="value: Email" required placeholder="@AccountViewResources.EmailFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@AccountViewResources.PasswordFormLabel:</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" data-bind="value: Password" required placeholder="@AccountViewResources.PasswordFormFieldPlaceholder" />
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div style="float:left"><input id="lgnRememberMe" type="checkbox" data-bind="checked: RememberMe" /></div>
                                <div style="float:left;margin:3px"><label for="lgnRememberMe">@AccountViewResources.RememberMeFormLabel</label></div>
                                <div style="float:left;margin:3px 0 0 22px"><a href="@Url.Action("Forgot", "Account")">@AccountViewResources.ForgotPasswordHeader</a></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" data-bind="click: signIn" class="btn btn-primary btn-large">@AccountViewResources.SignInButton</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h3>@HomeViewResources.ServiceDescriptionHeader1</h3>
        <p>@HomeViewResources.ServiceDescriptionValue1</p>
        @*<p><a class="btn" href="#">More &raquo;</a></p>*@
    </div>
    <div class="span4">
        <h3>@HomeViewResources.ServiceDescriptionHeader2</h3>
        <p>@HomeViewResources.ServiceDescriptionValue2_1</p>
        <p>@HomeViewResources.ServiceDescriptionValue2_2</p>
        @*<p><a class="btn" href="#">More &raquo;</a></p>*@
    </div>
    <div class="span4">
        <h3>@HomeViewResources.ServiceDescriptionHeader3</h3>
        <p>@HomeViewResources.ServiceDescriptionValue3</p>
        <ul>
            <li>@HomeViewResources.ServiceDescriptionValue3_1</li>
            <li>@HomeViewResources.ServiceDescriptionValue3_2</li>
            <li>@HomeViewResources.ServiceDescriptionValue3_3</li>
            <li>@HomeViewResources.ServiceDescriptionValue3_4</li>
        </ul>
        @*<p><a class="btn" href="#">More &raquo;</a></p>*@
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/Home")
    <script type="text/javascript">
        $(document).ready(function () {
            var signInViewModel = new SignInViewModel();
            ko.applyBindings(signInViewModel, document.getElementById('signInForm'));
            ko.validation.init(signInViewModel, { insertMessages: false, decorateElement: true, errorClass: 'error', parseInputAttributes: true });
        });
    </script>
}