@using TdService.Resources.Views;
@{
    ViewBag.Title = DeliveryRatesViewResources.PageHeader;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/RatesViewModel.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>

<label for="country">@DeliveryRatesViewResources.CountryHeader: </label>
<select id="country" data-bind="options: countries,optionsText: 'TranslatedName', value: selectedCountry">
</select>
<label for="method">@DeliveryRatesViewResources.DeliveryMethodHeader: </label>
<select id="method" data-bind="options: methods, optionsText: 'name', value: selectedMethod">
</select>
<label for="weight">@DeliveryRatesViewResources.WeightHeader: </label>
<input id="weight" data-bind="value:weight" type="text" />&nbsp;@DeliveryRatesViewResources.LbsShort
<label for="amount">@DeliveryRatesViewResources.AmountHeader: </label>
<input id="amount" type="text" readonly data-bind="value:calculatedRate" />
<br />
<input type="button" value="Calculate" data-bind="click:calculateRate" />
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var ratesViewModel = new RatesViewModel('@DeliveryRatesViewResources.LoadingRatesText', '@DeliveryRatesViewResources.ErrorText', '@DeliveryRatesViewResources.DeliveryUnavailable');
            ko.applyBindings(ratesViewModel);
        });
    </script>
}