@using TdService.Resources.Views
@{
    ViewBag.Title = "Shop Any Ware - Our Services";
}

<h3>@OurServiceViewResources.OurServiceHeader</h3><br />
<div class="row-fluid">
    <ol>
        <li>
            <h4>@OurServiceViewResources.OwnAddressHeader</h4>
            <ul>
                <li>@OurServiceViewResources.OwnAddress2</li>
                <li>@OurServiceViewResources.OwnAddress3</li>
                <li>@OurServiceViewResources.OwnAddress4</li>
            </ul>
        </li>
        <li>
            <h4>@OurServiceViewResources.FastDeliveryHeader</h4>
            <ul>
                <li>@OurServiceViewResources.FastDelivery1</li>
                <li>@OurServiceViewResources.FastDelivery2</li>
                <li>@OurServiceViewResources.FastDelivery3</li>
                <li>@OurServiceViewResources.FastDelivery4</li>
                <li>@OurServiceViewResources.FastDelivery5</li>
            </ul>
        </li>
        <li>
            <h4>@OurServiceViewResources.OperatorServiceHeader</h4>
            <ul>
                <li>@OurServiceViewResources.OperatorService1</li>
                <li>@OurServiceViewResources.OperatorService2</li>
            </ul>
        </li>
    </ol>
</div>